# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake Build Directory:
build/

# Temporary glade files:
*.glade~
[#]*[#] # Escape the "#" symbol

# Other people's header files:
include/fftw/
include/wavepond/
include/seabreeze

# Data output directory:
output/*

# Testing files in src:
src/test.*

# Other people's def files:
*.def

# Other libraries:
lib/omnidriver/*

# Overview notes, which should eventually be moved to issue tracking / README
# on GitHub
code-overview.txt
